* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: linear-gradient(to bottom, orange 33%, white 66%, green);
  min-height: 100vh;
  width: 100%;
  border: .5rem solid black;
}

header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
 padding: 3rem 1.5rem 1.5rem;
}

header .text {

}

header .text h1 {
  font-size: clamp(1rem, 8vw, 3rem);
  text-align: center;
  letter-spacing: 1px;
}
header .text p {
  text-align:right;
  font-size: clamp(1rem, 4vw, 2rem);
}




main {

}
.photo {
  width: 100%;

  padding: 1.5rem ;
}
.photo .container {

  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo .container .image {
  width: min(350px, 50%);
  border-radius: 100%;
  padding: 4px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo .container .image img {
  width: 100%;

  border-radius: 100%;
}

.about {
  
  padding: 1.5rem;
}
.about .container {
  max-width: 1000px;
  margin: 0 auto;
  
}
.about .container h1 {
  font-size: clamp(1.25rem, 8vw, 3rem);
  font-weight: 550;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 1.5rem;
}
.about .container p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  line-height: 1.6;

  letter-spacing: 1px;
  text-align: justify;
}
.about .container span {
  font-weight: bold;
}

.bio {
 
  padding: 1.5rem;
}
.bio .container {
  max-width: 1000px;
  margin: 0 auto;

}
.bio .container h3 {
  font-size: clamp(2rem, 6vw, 3rem);
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.bio .container li {
  font-size: clamp(1rem, 3vw, 1.5rem);

  line-height: 1.5;
  letter-spacing: 1px;
  margin-left: clamp(1rem, 8vw, 5rem);
  text-align: justify;
}

footer {
  padding: 1.5rem 1.5rem 3rem;
}
footer .container {
  
  max-width: 1000px;
  margin: 0 auto;
}

footer p {
  text-align: right;
  font-size: clamp(1rem, 2vw, 1.25rem);
  letter-spacing: 0.5px;
}


@media (max-width:500px) {
  header .text p {
  display: none;
  }
  
  
}