* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}

.container {
  min-height: 100vh;
  background-color: bisque;
  border: 10px solid black;
}

.main-content {
  width: 60%;

  margin: 6rem auto;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 2rem;
}

.top .name {
}

.top .image {
  height: auto;
  min-width: 100px;
  max-width: 300px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;
  background-color: white;
  border-radius: 50%;
  margin-top: 1.5rem;
}

.top img {
  height: auto;
  width: 100%;
  border-radius: 50%;
}

.top h1 {
  text-align: center;
  font-size: 2.5rem;
}
.top h3 {
  text-align: right;
  font-size: 1.5rem;
}

.about {
  margin-bottom: 2rem;
}
.about h3 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 4rem;
  font-weight: normal;
}
.about p {
  text-align: justify;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 1px;
}
.bio {
  margin-bottom: 3rem;
}
.bio h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.bio ul {
}
.bio li {
  margin-left: 4rem;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-align: justify;
}

footer {
  text-align: right;
}

@media (max-width: 1024px) {
  .top-section h3 {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .top-section h1 {
    font-size: 1.5rem;
  }

  .top-section h3 {
    font-size: 1rem;
  }

  .about h3 {
    font-size: 2.5rem;
  }

  footer {
    text-align: justify;
  }
  .about p {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: justify;
  }

  .bio li {
    margin-left: 0;
    text-align: justify;
  }
  .bio h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
